<!doctype html>
<html class="no-js">

<head>
    <title>66dun后台管理系统</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="styles/main.css">
    <link href="bower_components/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript">
    var FileAPI = {
        debug: true
    };
    </script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- <script src="bower_components/angular/angular.min.js"></script> -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-ui/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload-shim.js"></script>
    <script src="bower_components/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/umeditor_bk/umeditor.config.js"></script>
    <script src="bower_components/umeditor/umeditor.min.js"></script>
    <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="bower_components/umeditor/lang/zh-cn/zh-cn.js"></script>
    <script src="scripts/custom/base.js"></script>
</head>

<body ng-app="lusirAdmin" ng-class="{logined:logined,fullpage:fullpage}" ng-controller="globalUiCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">66dun后台管理系统</a>
            </div>
            <div class="toggle-nav" ng-click="toggleFull()">
                <i class="glyphicon glyphicon-resize-small n-close"></i>
                <i class="glyphicon glyphicon-resize-full n-open"></i>
            </div>
            <ul class="nav navbar-nav navbar-right" id="userInfo">
                <li class="toggleSlide" ng-click="toggleSlide()"><i class="glyphicon glyphicon-th-list"></i></li>
                <li ng-controller="userCtrl" class="userinfo" ng-if="logined">
                    <a ng-href="#/user/info/{{user.id}}">
                        <div class="user-avatar">
                            <img no-detail="true" ng-src="{{user.avatar.url}}" alt="">
                        </div>
                        {{user.nick||user.username}}
                    </a>
                </li>
                <li><a href="/logout" class="logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                </li>
            </ul>
            <span class="glyphicon glyphicon-refresh loading-main" ng-show="ajaxing"></span>
        </div>
    </nav>
    <div ng-include="'views/templates/alert.html'"></div>
    <div ng-include="'views/templates/view_images.html'"></div>
    <div class="container-full">
        <div ng-include="'views/nav.html'"></div>
        <div class="main">
            <div class="fullcontent">
                <div ui-view  class="view p20">
                    <p class="sub-header index-info text-center" style="font-size: 30px">登录中……</p>
                </div>
                <div class="footer">
                    <div class="text-center mt20"><a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank" title="点击下载谷歌浏览器">谷歌浏览器</a>访问。</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="scripts/app.js"></script>
<script src="scripts/services/services.nav.js"></script>
<script src="scripts/services/services.data.js"></script>
<script src="scripts/services/services.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/directives/filter.js"></script>
<script src="scripts/controllers/accountCtrl.js"></script>
<script src="scripts/controllers/uploadCtrl.js"></script>
<script src="scripts/controllers/uiCtrl.js"></script>
<script src="scripts/controllers/page.starCtrl.js"></script>
<script src="scripts/controllers/page.faceCtrl.js"></script>
<script src="scripts/controllers/page.userCtrl.js"></script>
<script src="scripts/controllers/page.groupCtrl.js"></script>
<script src="scripts/controllers/page.topicCtrl.js"></script>
<script src="scripts/controllers/page.recommendCtrl.js"></script>
<script src="scripts/controllers/page.spiderCtrl.js"></script>
<script src="scripts/controllers/page.apppkgCtrl.js"></script>
<script src="scripts/controllers/page.mallCtrl.js"></script>
<script src="scripts/controllers/page.feedCtrl.js"></script>
<script src="scripts/controllers/page.auditCtrl.js"></script>
<script src="scripts/controllers/page.cloudCtrl.js"></script>
<script src="scripts/controllers/page.audioCtrl.js"></script>
<script src="scripts/controllers/page.otherCtrl.js"></script>
