<div pagetitle>安装包列表列表</div>
<div goback back-key class=" navbar-collapse navbar-form filter-bar" ng-controller="filterCtrl">
    <div class="form-group">
        <label>平台:</label>
        <ul selectcon ng-model="filter.platform" ng-change="search()">
            <li selectvalue="">默认</li>
            <li selectvalue="android">Android</li>
            <li selectvalue="ios">IOS</li>
            <li selectvalue="wp">WP</li>
        </ul>
    </div>
    <div class="form-group">
        <label>渠道:</label>
        <ul selectcon ng-model="filter.channel" ng-change="search()">
            <li selectvalue="">默认</li>
            <li ng-repeat="channel in channels" selectvalue="{{channel.name}}">{{channel.name}}</li>
        </ul>
    </div>
    <div class="form-group navbar-right" role="search">
        <a ui-sref="apppkg/add" class="btn btn-default">添加安装包</a>
    </div>
</div>
<table class="table table-bordered table-striped ">
    <thead>
        <tr pages page-type="mini"></tr>
        <tr>
            <th>平台</th>
            <th>渠道</th>
            <th>版本</th>
            <th>更新内容</th>
            <th>安装包</th>
            <th>plist</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="package in data">
            <td>{{package.platform}}
            </td>
            <td>
                {{package.channel }}
            </td>
            <td>
                {{package.version}}
            </td>
            <td>
                {{package.changelog}}
            </td>
            <td>
                <a ng-href="{{package.file.url}}" target="_blank">{{package.file.filename}}</a>
            </td>
            <td>
                <a ng-href="{{package.plist_file.url}}" target="_blank">{{package.plist_file.filename}}</a>
            </td>
            <td>
                {{package.create_time | datetime}}
            </td>
            <td>
                <a ui-sref="apppkg/info({platform:'{{package.platform}}',channel:'{{package.channel}}',version:'{{package.version}}'})">详情</a>
                <button class="btn btn-link" ng-click="delete($index)">删除</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr pages></tr>
    </tfoot>
</table>
<div nodata></div>
