<div pagetitle>
    <span ng-if="edit">导航详情</span>
    <span ng-if="!edit">添加导航</span>
</div>
<div goback>
    <span ng-if="edit">
    <a class="btn btn-default" ng-href="#/mall/category_list/{{data.id}}">下属分类</a>
    </span>
</div>
<div class="form-content">
    <form class="form-horizontal" role="form" ng-submit="submit()">
        <div forminput="导航名称" required>
            <input type="text" ng-model="data.name" placeholder="导航名称">
        </div>
        <div forminput="选择导航的banner商品">
            <div realtime trimclear="true" ng-model="data.banner_good_id" search-type="good" ng-change="choseGood()">
                <input type="text" class="form-control" ng-model="data.searchname" placeholder="{{data.banner_good && data.banner_good.name || '搜索商品以添加，需要商品有小邮报'}}">
            </div>
        </div>
        <div forminput="状态">
            <ul selectcon ng-model="data.status">
                <li selectvalue="1">正常</li>
                <li selectvalue="2">隐藏</li>
            </ul>
        </div>
        
        <div class="form-group mt20 ">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
</div>
