<div pagetitle>
    <span ng-if="edit">类别详情</span>
    <span ng-if="!edit">添加类别</span>
</div>
<div goback>
    <span ng-if="edit">
    </span>
</div>
<div class="form-content">
    <form class="form-horizontal" role="form" ng-submit="submit()">
        <div forminput="所属导航" required>
            <ul selectcon ng-model="data.navigation_id" ng-change="updateCate()">
                <li selectvalue="{{nav.id}}" ng-repeat="nav in filternav">{{nav.name}}</li>
            </ul>
        </div>
        <div forminput="所属类别" required>
            <ul selectcon ng-model="data.category_id" >
                <li selectvalue="{{cate.id}}" ng-repeat="cate in filtercate">{{cate.name}}</li>
            </ul>
        </div>
        <div forminput="平台" required>
            <ul selectcon ng-model="data.platform" >
                <li selectvalue="1">淘宝</li>
                <li selectvalue="2">内部商城</li>
            </ul>
        </div>
         <div forminput="商品链接" required>
            <input type="text" ng-model="data.url" placeholder="商品链接">
        </div>
        <div class="form-group mt20 ">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
</div>
