<div pagetitle>推荐列表</div>
<div goback back-key class=" navbar-collapse navbar-form filter-bar" ng-controller="filterCtrl">
    <div class="form-group navbar-right" role="search">
        <button class="btn btn-primary" ng-click="append()">加入推荐商品</button>
    </div>
</div>
<table class="table table-bordered table-striped ">
    <thead>
        <tr pages page-type="mini"></tr>
        <tr>
            <th>位置</th>
            <th>类型</th>
            <th width="200px">名称</th>
            <th ng-if="!hide.ad">展示文字</th>
            <th ng-if="!hide.ad">图像</th>
            <th ng-if="hide.ad">海报</th>
            <th>推荐时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in data">
            <td>
                {{item.position}}
            </td>
            <td>
                {{item.object_type|objecttype}}
            </td>
            <td>
                <a ng-if="item.object.platform==2" ui-sref="mall/inner_good_info({id:'{{item.object.id}}'})">{{item.object.name}}</a>
                <a ng-if="item.object.platform==1" ui-sref="mall/good_info({id:'{{item.object.id}}'})">{{item.object.name}}</a>
            </td>
            <td ng-if="!hide.ad"> 
                {{item.show_words}}
            </td>
            <td ng-if="!hide.ad">
                <div ng-if="item.object.images" class="img-con">
                    <img ng-src="{{item.object.images[0].url}}">
                </div>
            </td>
            <td ng-if="hide.ad">
                <div ng-if="item.object.poster" class="img-con-poster">
                    <img ng-src="{{item.object.poster.url}}">
                </div>
            </td>
            <td>
                {{item.create_time | datetime}}
            </td>
            <td class="t_bar">
                <a ng-if="item.object.platform==2" ui-sref="mall/inner_good_info({id:'{{item.object.id}}'})">详情</a>
                <a ng-if="item.object.platform==1" ui-sref="mall/good_info({id:'{{item.object.id}}'})">详情</a>
                <button class="btn btn-link" ng-click="editShowWord($index)" ng-if="hide.ad">修改展现文字</button>
                <button class="btn btn-link" delete-recommend data-type="{{filter.type}}" data-object_id="{{item.object_id}}">取消推荐</button>
                <div positions="recommend" position-now="{{item.position}}" data-type="{{filter.type}}" data-object_id="{{item.object_id}}" data-object_type="{{item.object_type}}"></div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr pages></tr>
    </tfoot>
</table>
<div nodata></div>
<!-- 选择商品 -->
<div ui-modal class="recommendPop" title="推荐商品" ng-submit="recommendedGood()">
    <label><span class="red">*</span>选择商品:</label>
    <div realtime trimclear="true" ng-model="recommendsNow.object_id" search-type="good">
        <input type="text"  placeholder="搜索商品">
    </div>
    <label ng-if="recommendsNow.type!='ad_mall_index'">展示文字:</label>
    <input type="text" class="form-control" ng-model="recommendsNow.show_words" placeholder="输入展示文字" ng-if="recommendsNow.type!='ad_mall_index'">
</div>
<div ui-modal class="showWordPop" title="修改展现文字" ng-submit="showWordSubmit()">
    <label>展现文字:</label>
    <input type="text" class="form-control" ng-model="showWordData.show_words" placeholder="修改展现文字">
</div>