<div pagetitle>
    <span ng-if="edit">爬虫任务详情</span>
    <span ng-if="!edit">抓取话题</span>
</div>
<div goback>
    <span ng-if="edit">
    <a class="btn btn-default" ng-href="#/topic/info/{{data.topic_id}}">查看话题</a>
    </span>
</div>
<div class="form-content">
    <form class="form-horizontal" role="form" ng-submit="submit()">
        <div forminput="网页链接" required ng-if="!edit">
            <input type="text" ng-model="data.url" placeholder="网页链接">
        </div>
        <div forminput="网页链接" required ng-if="edit">
            <div class="form-line"><a ng-href="{{data.url}}" target="_blank">{{data.url}}</a></div>
        </div>
        <div forminput="话题组" ng-if="!edit">
            <div realtime ng-model="data.group_id" link-obj="group" search-type="group">
                <input type="text" ng-model="data.group.title" placeholder="搜索小组名称以添加小组">
            </div>
        </div>
        <div forminput="话题组" required ng-if="edit">
            <div class="form-line">{{data.group.title}}</div>
        </div>
        <div forminput="用户" required  ng-if="!edit">
            <div realtime ng-model="data.creator_username" save-key="username" link-obj="creator" search-type="user">
                <input type="text" ng-model="data.creator.username" placeholder="搜索用户以选择用户">
            </div>
        </div>
        <div forminput="用户" required ng-if="edit">
            <div class="form-line">{{data.creator.username}} {{data.creator.nick}}
            </div>
        </div>
        <div forminput="管理员"  ng-if="edit">
            <div class="form-line">{{data.admin.username}} {{data.creator.nick}}
            </div>
        </div>
        <div forminput="是否持续更新">
            <ul selectcon ng-model="data.is_continue_update">
                <li selectvalue="false">否</li>
                <li selectvalue="true">是</li>
            </ul>
        </div>
        <div forminput="原网址未更新天数"  ng-if="edit">
            <div class="form-line">{{data.no_longer_updated_count}} 天
            </div>
        </div>
        <div forminput="爬取的链接和参数"  ng-if="edit">
            <ul class="form-limit">
                <li class="form-line clearfix" ng-repeat="url in data.crawled_urls track by $index">
                 <a ng-href="{{url}}" target="_blank">{{url}}</a>
                 {{data.paramses[$index]}}
                </li>
            </ul>
           <!--   <ul class="col-sm-5">
                <li class="form-line clearfix" ng-repeat="param in data.paramses track by $index">{{param}}
                </li>
            </ul> -->
        </div>
         <div forminput="执行错误"  ng-if="edit">
            <div class="form-line "><pre ng-if="data.error" class="form-limit">{{data.error}}</pre>
            </div>
        </div>
        <div class="form-group mt20 ">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
</div>
